$font1:  'Poppins', sans-serif;


//Styling for full screen
body{
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: -100;

}

.homepage{
  height: 665px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -65px;
  left: 0;
  z-index: -2;

  .row{
      margin-bottom: 0px!important;
      height: 100vh;
    .pic{

      img{
        position: absolute;
        width: 550px;
        height: 600px;
        top: 5%;
        left: -1%;
       }
      .pic1{

      }
      .pic2{
          opacity: 0;
      }
      .pic3{
          opacity: 0;
      }
      .pic4{
        opacity: 0;
      }
    }


    .state{
      position: relative;
      background-image: linear-gradient(right, transparent, black, black, black, transparent);
      top: 250px;
      opacity: .3;
      z-index: 3;
      padding-left: 180px;
      padding-right: 120px;
      height: 260px;


    }
    .par{
      position: relative;
      z-index: 5;
      top: 30px;
      width: 46%;
      margin-left: auto;
      margin-right: 80px;

      hr{
        width: 160px;
        height: 3px;
        background: #fff;
        border-radius: 6px;
        margin: 0px;
        transform: translate(-110px, 350px) rotate(90deg);
      }


      p{
          padding-left: 0px;
          color: white;
          margin: 0px;
          font-size: 14px;
          font-family: $font1;
          line-height: 2em;

          b{
            font-size: 90px;
            margin: 0px;
            padding: 0px;
            line-height: 0px;

          }

          em{
            color: black;
            font-weight: bold;
          }
      }
    }

     .splendor{
       position: absolute;
       height: 195px;
       width: 40%;
       top: 450px;
       left: 695px;
        z-index: 2;
        //background: blue;
        transition-duration: .3s;
       cursor: pointer;
       margin-right: 0px;


        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
      }
      .splendor:hover{
        transform: scale(1.1);
      }
      .reg{
          position: absolute;
          height: 60px;
          z-index: 3;
           width: 50%;
          top: 600px;
          left: 49%;
        //  background: red;
      }
     .bling{
        position: relative;
        height: 300px;
        z-index: 0;
         width: 100%;
        top: -119px;
        left: -40%;
         background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        //left: 88.5%;
      }

      .footed{
        background: rgba(0,0,0, 0.5);
        width: 100%;
        height: 25px;

        position: absolute;
        top: 643px;
         z-index: 4;
        padding-left: 60px;
         p{
           color: #fff;
            font-family: 'IM Fell English SC', serif;
           font-weight: lighter;
           word-spacing: 2px;
           letter-spacing: 2px;
            margin: 0px;
              span{
                color: yellow;
              }
         }
      }

  }
}
//Styling for full screen ends


//Styling for screen less than 1080px
@media screen and (max-width: 1200px){
  .homepage .row .splendor{
     height: 195px;
    width: 40%;
    top: 449px!important;
    left: 595px!important;
   }

   .homepage .row .reg{
       position: absolute;
       height: 70px!important;
       z-index: 3;
        width: 50%;
       top: 590px!important;
       left: 49%;
   }

}



//Styling for screen less than 1080px
@media screen and (max-width: 1080px){

  .homepage{

    .row{

      .pic{

        img{
          position: absolute;
          width: 550px;
          height: 600px;
          top: 5%;
          left: -7%;
          transform: scale(.8);
         }
        .pic1{

        }
        .pic2{

        }
        .pic3{

        }
        .pic4{

        }
      }


      .state{
        position: relative;
        background-image: linear-gradient(right, transparent, black, black, transparent, transparent);
        top: 250px;
        opacity: .3;
        z-index: 3;
        padding-left: 180px;
        padding-right: 120px;
        height: 280px;


      }
      .par{
        position: relative;
        z-index: 5;
        top: 20px;
        width: 46%;
        margin-left: auto;
        margin-right: 80px;

        hr{
          width: 190px;
          height: 3px;
          background: #fff;
          border-radius: 6px;
          margin: 0px;
          transform: translate(-120px, 390px) rotate(90deg);

        }


        p{
            padding-left: 0px;
            color: white;
            margin: 0px;
            font-size: 13px;

            b{
              font-size: 90px;
              margin: 0px;
              padding: 0px;
              line-height: 0px;
            }

            em{
              color: black;
              font-weight: bold;
            }
        }
      }

      .splendor{
         height: 195px;
        width: 40%;
        top: 460px!important;
        left: 525px!important;
       }

       .reg{
           position: relative;
           height: 70px;
           z-index: 3;
            width: 50%;
           top: 114px!important;
           left: 44%;
       }
       .bling{
             top: -470px;
            left: -40%;
            height: 300px;
        }
    }
  }

}
//Styling for screen less than 1080px ends


//Styling for screen less than 910px
@media screen and (max-width: 966px){
    .homepage .row .par p{
      font-size: 12.1px;
    }
    .homepage .row .splendor{
       height: 195px;
      width: 40%;
      top: 460px!important;
      left: 485px!important;
     }

     .homepage .row .reg{
         position: relative;
         height: 70px;
         z-index: 3;
          width: 50%;
         top: 124px!important;
         left: 45%;
     }
}


//Styling for screen less than 910px
@media screen and (max-width: 910px){

  .homepage{

    .row{

      .pic{

        img{
          position: absolute;
          width: 550px;
          height: 600px;
          top: 5%;
          left: -10%;
          transform: scale(.8);
         }
        .pic1{

        }
        .pic2{

        }
        .pic3{

        }
        .pic4{

        }
      }


      .state{
        position: relative;
        background-image: linear-gradient(right, transparent,black, black, transparent, transparent);
        top: 250px;
        opacity: .3;
        z-index: 3;
        padding-left: 280px;
        padding-right: 80px;
        height: 250px;


      }
      .par{
        position: relative;
        z-index: 5;
        top: 20px;
        width: 46%;
        margin-left: auto;
        margin-right: 30px;

        hr{
          width: 190px;
          height: 3px;
          background: #fff;
          border-radius: 6px;
          margin: 0px;
          transform: translate(-110px, 360px) rotate(90deg);

        }


        p{
            padding-left: 0px;
            color: white;
            margin: 0px;
            font-size: 12px;

            b{
              font-size: 50px;
              margin: 0px;
              padding: 0px;
              line-height: 0px;
            }

            em{
              color: black;
              font-weight: bold;
            }
        }
      }
        .splendor{
           height: 195px;
          width: 40%;
          top: 460px!important;
          left: 465px!important;

          }

         .reg{
             position: relative;
             height: 77px;
             z-index: 3;
              width: 50%;
             top: 164px!important;
             left: 49%;
       }
       .bling{
             top: -409px;
            left: -40%;
       }
    }
  }

}
//Styling for screen less than 910px ends

//Styling for screen less than 743px
@media screen and (max-width: 884px){
  .homepage .row .par p{
    font-size: 12px;
  }
  .homepage .row .splendor{
     height: 195px;
    width: 40%;
    top: 430px!important;
    left: 405px!important;
   }

   .homepage .row .reg{
       position: relative;
       height: 77px;
       z-index: 3;
        width: 52%;
       top: 110px!important;
       left: 44%;
   }
}

////

//Styling for screen less than 743px
@media screen and (max-width: 761px){
  .homepage .row .par p{
    font-size: 11.8px;
  }

}
//////


//Styling for screen less than 743px
@media screen and (max-width: 743px){

  body{
    height:  100vh;
    position: absolute;
  }

  .homepage{
     background-size: cover;
     background-position: left;
     height: 1000px;
    .row{
        height: 100%;
        padding: 0px;
        margin: 0px;
      .pic{

        img{
          position: absolute;
          width: 550px;
          height: 600px;
          top: -3%;
          left: 10%;
          transform: scale(.6);
         }
        .pic1{

        }
        .pic2{

        }
        .pic3{

        }
        .pic4{

        }
      }


            .state{
            //  position: relative;
              background-image: linear-gradient(right, transparent,black, black, black, transparent);
              top: 450px;
              opacity: .3;
              z-index: 3;
              padding-left: 80px;
              padding-right: 10px;
              height: 240px;


            }
            .par{
              //position: relative;
              z-index: 5;
              top: 240px;
              width: 100%;
              margin-left: auto;
              margin-right: 30px;
              padding: 0px 20px;

              hr{
               display: none;

              }


              p{
                  padding-left: 0px;
                  color: white;
                  margin: 0px;
                  font-size: 12px;

                  b{
                    font-size: 50px;
                    margin: 0px;
                    padding: 0px;
                    line-height: 0px;
                  }

                  em{
                    color: black;
                    font-weight: bold;
                  }
              }
            }
            .splendor{
               height: 195px;
              width: 70%;
              top: 630px!important;
              left: 65px!important;

              }

             .reg{
                 position: relative;
                 height: 100px;
                 z-index: 3;
                 //background: red;

                width: 77%;
                 top: 409px!important;
                 left: 5%;
           }

           .bling{
                 top: -439px;
                left: -10%;
                 width: 100%;
           }

           .footed{
              height: 25px;

              top: 975px;
              padding-left: 10px;
              p{
                 font-size: 11px;
                    span{
                     color: yellow;
                   }
              }
           }

    }
  }
}
//Styling for screen less than 743px ends



//Styling for screen less than 616px
@media screen and (max-width: 616px){
    .homepage .row .reg{
        top: 380px!important;
        width: 80%;
    }
}



/////

//Styling for screen less than 590px
@media screen and (max-width: 590px){
  .homepage{
  //  height: 950px;
  }
  .homepage .row .pic img{
    position: absolute;
    width: 550px;
    height: 600px;
    top: -3%;
    left: -5%;
    }

    .homepage .row .bling{
          top: -499px;
         right: -10%;
          width: 100%;
    }

    .homepage .row .reg{
        top: 365px!important;
        width: 80%;
    }
}


@media screen and (max-width: 443px){

    .homepage{
       background-size: cover;
       background-position: left;
       height: 1100px;
      .row{
          height: 100%;
          padding: 0px;
          margin: 0px;
        .pic{

          img{
            position: absolute;
            width: 450px;
            height: 500px;
            top: 3%;
            left: -10%;
            transform: scale(.6);
           }
          .pic1{

          }
          .pic2{

          }
          .pic3{

          }
          .pic4{

          }
        }
        .state{
        //  position: relative;
          background-image: linear-gradient(right, transparent,black, black, transparent, transparent);
          top: 450px;
          opacity: .3;
          z-index: 3;
          padding-left: 80px;
          padding-right: 10px;
          height: 240px;

        }

        .par{
          //position: relative;
          z-index: 5;
          top: 240px;
          width: 100%;
          margin-left: auto;
          margin-right: 30px;
          padding: 0px 20px;

          hr{
           display: none;

          }


          p{
              padding-left: 0px;
              color: white;
              margin: 0px;
              font-size: 12px;

              b{
                font-size: 30px;
                margin: 0px;
                padding: 0px;
                line-height: 0px;
              }

              em{
                color: black;
                font-weight: bold;
              }
          }
        }


        .splendor{
           height: 195px;
          width: 100%;
          top: 666px!important;
          left: 0px!important;

          }

         .reg{
             position: relative;
             height: 100px;
             z-index: 3;

            width: 100%;
            margin-right: 0px;
             top: 326px!important;
             left: 0%;
             overflow: hidden;

      }

      .bling{
            top: -609px;
           left: -4%;
      }
      .footed{
         height: 25px;

         top: 1075px;
         padding-left: 0px;
         p{
           text-align: center;
            font-size: 11px;
            letter-spacing: 1px;
               span{
                color: yellow;
              }
         }
      }

    }
  }

}





//Styling for screen less than 344px
@media screen and (max-width: 374px){
    .homepage .row .splendor{
        top: 699px!important;
        width: 95%;
    }

    .homepage .row .reg{
      top: 336px!important;
    }



}

//Styling for screen less than 344px
@media screen and (max-width: 344px){
  .homepage .row .pic img{
    position: absolute;
    width: 550px;
    height: 600px;
    top: -3%;
    left: -40%;
    }

    .homepage .row .bling{
      top: -669px;
     left: 0%;

    }


  .homepage .row  .footed{
       height: 25px;

       top: 1075px;
       padding-left: 0px;
       p{
         text-align: center;
          font-size: 10px;
          letter-spacing: 1px;
          word-spacing: 1px;
             span{
              color: yellow;
            }
       }
    }
}
