


header{
   nav{
      background-color: transparent;
      box-shadow: none;

    .row{
        margin: 0px;
        padding: 0px;
        ul{
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-around;
          height: 70px;
          .section0{
            padding: 0px;
            padding-left: 8px;
            display: flex;
            justify-content: flex-end;
          }

            .section1{
              padding: 0px;
              padding-right: 8px;
              display: flex;
              justify-content: flex-start;
            }

            .section2{
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              z-index: 3;
              height: 230px;
              width: 230px;
              margin: 0px;
              position: relative;
              transform: scale(1.4);

                  p{
                    margin: 0px;
                    padding-top: 140px;
                    padding-left: 20px;
                    text-align: center;
                    //font-family: 'Almendra SC', serif;
                    //font-family: 'Marko One', serif;
                    font-family: 'IM Fell English SC', serif;

                  }
            }
            div{
              margin-top: 15px;

                li a{
                   color: #fff;
                   font-size: 15px;
                   line-height: 2.5em;
                   padding-left: 24px;
                   padding-right: 24px;
                }

                li a:hover{
                    opacity: 0.7;
                     border-radius: 3px;
                }
            }
          }

      }

      .tabbar{
        z-index: -1;
        position: relative;
        top: -115px;
        height: 200px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0.7;
      }


      .mobilesidenav{
        display: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        height: 800px;
         width: 100%;
        z-index: 8;
        //background: rgba(255,255,255, 0.8);
        background-image: linear-gradient(top, #0d1b3a,#0d1b3a, transparent);
         top: -25px;

          .tabuloid ul{
           position: relative;
            display: flex;
            flex-direction: column;
            z-index: 9;
            height: 1000px;
            padding-top: 40px;

              li{
                border-bottom: 1px solid grey;

                a{
                  color: #fff;
                  text-align: center;
                  font-weight: bold;
                }

                i{
                  float: right;
                  padding-right: 20px;
                  cursor: pointer;
                }
              }
              li:hover{
                opacity: .7;
              }
              li:first-of-type{
                border-bottom: none;

              }
          }
      }
    }
}



//Style for Navigation below 1080px
@media screen and (max-width: 1080px){


  header{
     nav{
        background-color: transparent;
        box-shadow: none;

      .row{
          margin: 0px;

          ul{
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex;

            .section0{
              padding: 0px;
              padding-left: 10px;
            }

              .section1{
                padding: 0px;
                padding-right: 10px;
              }

              .section2{
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 3;
                height: 200px;
                width: 200px;
                margin: 0px;

                p{
                  margin: 0px;
                  padding-top: 120px;
                  text-align: center;
                  //font-family: 'Almendra SC', serif;
                  //font-family: 'Marko One', serif;
                  font-family: 'IM Fell English SC', serif;

                }
              }
              div{
                margin-top: 15px;

                  li a{
                     color: #fff;
                     font-size: 12px;
                     line-height: 2.5em;
                     padding-left: 20px;
                     padding-right: 20px;
                  }

                  li a:hover{
                      opacity: 0.7;
                       border-radius: 3px;
                  }
              }
            }

        }
        .tabbar{
            top: -125px!important;
        }
      }
  }

}



//Style for Navigation below 910px
@media screen and (max-width: 910px){
header{
   nav{
      background-color: transparent;
      box-shadow: none;

    .row{
        margin: 0px;
        padding: 0px;
        div{
          padding: 0px!important;
        }
        ul{
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;

          .section0{
            padding: 0px;
            padding-left: 10px;
            margin-left: 20px;
          }

            .section1{
              padding: 0px;
              padding-right: 10px;
              margin-right: 20px;
            }

            .section2{
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              z-index: 3;
              height: 150px;
              width: 150px;
              margin: 0px;

              p{
                margin: 0px;
                padding-top: 95px;
                padding-left: 0px;
                text-align: center;
                font-size: 11px;
                //font-family: 'Almendra SC', serif;
                //font-family: 'Marko One', serif;
                font-family: 'IM Fell English SC', serif;

              }

            }
            div{
              margin-top: 15px;

                li a{
                   color: #fff;
                   font-size: 11px;
                   line-height: 2.5em;
                   padding-left: 15px;
                   padding-right: 15px;
                }

                li a:hover{
                    opacity: 0.7;
                     border-radius: 3px;
                }
            }
          }

      }
      .tabbar{
          top: -129px!important;
      }
    }
  }
}







/* The side navigation menu */
.mobilebar {
  color: white;
  display: none;
  padding-right: 20px;
  height: fit-content;
   }

   .mobilebar i{
    line-height: 0px!important;
    height: 20px!important;
    margin-top: 30px!important;
    cursor: pointer;

   }

@media screen and (max-width: 743px){
  header{

    nav{

      .row{

        ul{

          .section0{
              display: none;
          }

          .section1{
              display: none;
          }

          .section2{
              width: 100px;
              height: 100px;
              margin-left: 30px;

              p{
                margin: 0px;
                padding-top: 75px;
                padding-left: 0px;
                text-align: center;
                font-size: 7px;
                width: 100px;
                height: 190px;
                line-height: 10px;

                //font-family: 'Almendra SC', serif;
                //font-family: 'Marko One', serif;
                font-family: 'IM Fell English SC', serif;

              }

          }

          .mobilebar {
              display: block;

          }

        }
      }


      .tabbar{
        display: none;

      }
      .mobilesidenav{
          display: block;
      }
    }
  }


}
